
body{
background-image: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353');
background-repeat: repeat-y;
background-size: 100% auto;
}

td {
font-size: 17px;
padding: 10px;
background-color: #d1e0e0;
border: 1px solid black;
}

h1 {
text-align: center;
color: #fff;
}

.form {
text-align: center;
}

.button {
font-size: 20px;
cursor: pointer;
text-align: center;
text-decoration: none;
border: none;
border-radius: 10px;
box-shadow: 0 4px #777;
background-color: #95b7b7;
cursor: pointer;
}

.button:hover {background-color: #679898}
.button:active {background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

#submit{
background-color: transparent;
border: none;
}
